

    <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
      <server>
        <username>developer</username>
        <password>Fielco.123</password>
        <id>release</id>
      </server>
      <server>
        <username>developer</username>
        <password>Fielco.123</password>
        <id>snapshots</id>
      </server>
      <server>
        <id>tomcat-local</id>
        <username>tomcat</username>
        <password>tomcat</password>
      </server>
      <server>
        <id>desa-web</id>
        <username>roshka</username>
        <password>pqntslc</password>
      </server>
      <server>
        <id>desa-micro</id>
        <username>jenkins</username>
        <password>ab63a76362c3972ac83d5cb8830fdb51</password>
      </server>
      <server>
        <id>prod-web</id>
        <username>roshka</username>
        <password>Pqntslc$16</password>
      </server>
    </servers>
      <proxies>
        <proxy>
          <id>fielco-proxy</id>
          <active>false</active>
          <protocol>http</protocol>
          <host>192.168.35.5</host>
          <port>3128</port>
          <username>proxyuser</username>
          <password>somepassword</password>
          <nonProxyHosts>*.google.com|ibiblio.org|10.10.30.46|192.168.30.73</nonProxyHosts>
        </proxy>
      </proxies>
      <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
      </pluginGroups>
      <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                  http://192.168.40.73:9010
                </sonar.host.url>
                <sonar.login>miggimenez</sonar.login>
                <sonar.password>Fielco2505</sonar.password>
            </properties>
        </profile>
        <profile>
			
          <repositories>
            <repository>
              <snapshots>
                <enabled>false</enabled>
              </snapshots>
              <id>central</id>
              <name>central</name>
              <url>https://repo1.maven.org/maven2</url>
            </repository>			  
            <repository>
              <snapshots>
                <enabled>false</enabled>
              </snapshots>
              <id>release</id>
              <name>libs-release</name>
              <url>http://192.168.30.46:8080/artifactory/libs-release</url>
            </repository>
            <repository>
              <snapshots>
                <enabled>true</enabled>
              </snapshots>
              <id>snapshots</id>
              <name>libs-snapshot</name>
              <url>http://192.168.30.46:8080/artifactory/libs-snapshot</url>
            </repository>
          </repositories>
          
          <pluginRepositories>
            <pluginRepository>
              <snapshots>
                <enabled>false</enabled>
              </snapshots>
              <id>central</id>
              <name>plugins-release</name>
              <url>http://192.168.30.46:8080/artifactory/plugins-release</url>
            </pluginRepository>
            <pluginRepository>
              <snapshots >
                <enabled>true</enabled>
              </snapshots>
              <id>snapshots</id>
              <name>plugins-snapshot</name>
              <url>http://192.168.30.46:8080/artifactory/plugins-snapshot</url>
            </pluginRepository>
          </pluginRepositories>
          <id>artifactory</id>
        </profile>
        <profile>
          <id>tomcat</id>
          <properties>
            <maven.tomcat.url>http://localhost:8080/manager/text</maven.tomcat.url>
            <maven.tomcat.server>tomcat-local</maven.tomcat.server>
          </properties>
        </profile>
         <profile>
          <id>desa-web</id>
          <properties>
            <maven.tomcat.url>http://192.168.36.70:8080/manager/text</maven.tomcat.url>
            <maven.tomcat.server>desa-web</maven.tomcat.server>
          </properties>
         </profile>
         <profile>
          <id>desa-micro</id>
          <properties>
            <maven.tomcat.url>http://192.168.30.60:7080/manager/text</maven.tomcat.url>
            <maven.tomcat.server>desa-micro</maven.tomcat.server>
          </properties>
         </profile>
         <profile>
          <id>desa-michi</id>
          <properties>
            <maven.tomcat.url>http://192.168.30.60:8080/manager/text</maven.tomcat.url>
            <maven.tomcat.server>desa-micro</maven.tomcat.server>
          </properties>
         </profile>         
         <profile>
          <id>prod-web</id>
          <properties>
            <maven.tomcat.url>http://192.168.36.71:7000/manager/text</maven.tomcat.url>
            <maven.tomcat.server>prod-web</maven.tomcat.server>
          </properties>
         </profile>         
      </profiles>
      <activeProfiles>
        <activeProfile>artifactory</activeProfile>
        <activeProfile>sonar</activeProfile>
      </activeProfiles>
    </settings>
